@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf) format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf) format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
  font-weight: light;
  font-style: italic;
}

:root {
  --dark-bg-color: #1f2937;
  --hero-main-tex-size: 48px;
  --hero-main-text-color: #f9faf8;
  --hero-secondary-text-size: 18px;
  --hero-secondary-text-color: #e5e7eb;
  --hero-logo-text-size: 24px;
  --hero-logo-text-color: #f9faf8;
  --btn-bg-color: #3882f6;
  --info-header-text-size: 36px;
  --info-header-text-color: #1f2937;
  --quote-bg-color: #e5e7eb;
  --quote-text-size: 36px;
  --quote-text-color: #1f2937;
}

* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: var(--dark-bg-color);
  padding: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline;
}

.navdiv a {
  font-family: "Roboto";
  font-size: 18px;
  color: var(--hero-secondary-text-color);
  margin-right: 25px;
}

main {
  height: 350px;
  background-color: var(--dark-bg-color);
  display: flex;
  align-items: center;
  padding: 60px;
  justify-content: space-around;
}

.hero-image {
  height: 250px;
  width: auto;
}

button {
  background-color: var(--btn-bg-color);
  width: 150px;
  height: 35px;
}
button a {
  color: var(--hero-main-text-color);
}

main h1 {
  color: var(--hero-main-text-color);
  font-size: var(--hero-main-tex-size);
  padding-top: 15px;
}

main p {
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-text-size);
  padding-top: 15px;
  padding-bottom: 15px;
}

.hero-text {
  width: 600px;
}
.quote{
  display: block;
  position: relative;
  width: 50%;
  margin: 5rem auto;
  padding: 5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #1785b5;
}
